
body {
  --navy: rgb(5,45,85);
  --gold: rgb(235,190,95);
  background: white;
  font-family: Baskerville, sans-serif;
  color: var(--navy);
}

a.fb {
  color: #fff;
  margin: auto;
  margin-top: 30px;
  display: block;
  text-align: center;
  background: #444;
  max-width: 200px;
  border-radius: 8px;
  span {
    padding: 15px;
    border-radius: 8px;
    font-weight: 700;
    display: block;
  }
  img {
    width: 50px;
    margin-bottom: 8px;
  }
  &:hover{
    color: #fff;
    background: #333;
  }
}

header {
  .logo {
    img {
      margin: auto;
      padding: 40px;
      display: block;
      width: 600px;
      max-width: 100%;
    }
  }

}
.book{
  text-align: center;
  margin: 50px;
  padding-bottom: 15px;
  span{
    background-color: var(--navy);
    padding: 12px 24px;
    border-radius: 60px;
    font-size: 24px;
    color: var(--gold);
  }
}
.contact {
  background-color: var(--navy);
  padding: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  &::before{
    background: url(../images/smudge-navy.svg) top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    z-index: 9;
  }
  &::after{
    background: url(../images/smudge-navy.svg) top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -40px;
    left: 0;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    z-index: 9;
    transform: rotate(180deg);
  }
  h2{
    color: var(--gold);
    padding-top: 24px;
  }
  a{
    color: var(--gold);
    margin: 10px 0;
    display: inline-block;
    &:hover{
      color: #fff;
    }
    }
  button{
    background: var(--gold);
    color: var(--navy);
    &:hover{
      background: gold;
      color: var(--navy);
    }
  }
  .contact-info{
    position: relative;
  }
  .insta{
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    padding: 12px;
    &:hover{
      background: red;
    }
  }
  .watermark{
    position: absolute;
    width: 240px;
    height: 240px;
    opacity: 0.1;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
  }
}
